@import 'colors';


.pokemonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: $primary;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 650px;
        width: 500px;
        border: 1px solid rgb(70, 110, 155);
        border-radius: 10%;

        .pokemonArea {
            background-color: $primary;
            margin-bottom: 10px;
            padding-top: 40px;
            height: 700px;
            width: 500px;
            border: 1px solid rgb(70, 110, 155);
            border-radius: 10%;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 0 20px;

            .pokeAvatarArea {
                border: 1px solid rgb(70, 110, 155);
                height: 200px;
                width: 200px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
            }

            .pokeInfo {
                width: inherit;
                padding: 5px 10px;
                font-weight: bold;
                color: rgb(254, 254, 254);
            }

            .pokeTypeArea {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .pokeType {
                    color: white;
                    font-weight: bold;
                    font-size: 14px;
                    width: 65px;
                    height: 20px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            .allAttributes {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 50%;
                background-color: $secondary;
                border-radius: 20px;
                padding: 10px;

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }

                li {
                    list-style: none;
                    color: white;
                }
            }
        }

    }

    @media (min-width: 440px) and (max-width: 520px) {



        .infoContainer {
            width: 430px;


            .pokemonArea {
                width: 430px;

                .pokeAvatarArea {
                    width: 170px;
                    height: 170px;
                }
            }
        }



    }

    @media (min-width: 300px) and (max-width: 439px) {


        .infoContainer {
            width: 300px;
            height: 560px;
            margin: 50px;

            .pokemonArea {
                flex-direction: column;
                width: 300px;
                gap: 10px;
                padding: 10px;

                .pokeAvatarArea {
                    width: 130px;
                    height: 130px;

                    img {
                        width: 130px;
                        height: 130px;
                    }
                }

                .allAttributes {
                    width: 100%;
                }
            }
        }



    }
}




.pokeStats {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    gap: 20px;

    .totalEvoArea {
        width: 100%;
        text-align: center;

        .allEvolutions {

            height: 250px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 5px;

            .evolvedArea {
                height: 130px;
                width: 130px;
                border: 1px solid rgb(70, 110, 155);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }


        @media (min-width: 300px) and (max-width: 439px) {
            .allEvolutions {
                height: unset;

                .evolvedArea {
                    width: 70px;
                    height: 70px;

                    img {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    }
}